<header>This is the header</header>
<div class="image-container">
  {{rotatable-image src="bojack.jpg"}}
</div>
<div class="image-container">
  {{rotatable-image src="noah.jpg"}}
</div>
<div class="image-container">
  {{rotatable-image src="square.png"}}
</div>
<div class="image-container">
  {{rotatable-image src="long.png"}}
</div>
<div class="image-container">
  {{rotatable-image src="test.jpg"}}
</div>
<div class="image-container">
  {{rotatable-image src="tiny.png"}}
</div>
{{outlet}}
